body {
    background: #312ec5;
}

h3 {
    color: red;
}

.foto-principal {
    width: 250px;
    border:2px solid black; /*shorthand*/
    border-radius: 50%;
    
    /*border-width: 5px;
    border-color: black;
    border-style: solid;*/

}

#titulo-principal {
    color: yellow;
}

p {
    color: #f01cde;
}